@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
nav{
    width:auto;
    position:sticky !important;
    top:0;
    left:0;
    box-shadow:0px 5px 8px rgba(197, 189, 189, 0.726);
    z-index: 10;
}
@media only screen and (max-width: 768px) {
    body {
        width: auto !important;
    }
    
}
/* Home section */
#home{
    color:rgb(255, 255, 255);
    height:auto;
    width: auto;
    background-image: url(https://images.unsplash.com/photo-1593425546383-260c8b86730b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwcm9maWxlLWxpa2VkfDExfHx8ZW58MHx8fHx8&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: cover; 
   overflow: hidden;
}
@media only screen and (max-width: 768px) {
  #home{
    height: auto;
  }    
}
#about{
    background-color: rgb(189, 238, 222);
    height:auto;
    width: auto;
    position: relative;
}
#about-img{
    position: absolute;
    top:80px;
    left: 450px;
}

#about-img img{
    width: 400px;
    height: 300px;
    border-radius: 10%;
    box-shadow: 1px 1px 8px rgb(0, 0, 0),
                -1px -1px 8px rgb(0, 0, 0);
    
}
.socialicons img:hover{
    transform: scale(1.1);
}
@media only screen and (max-width: 768px) {
#about-img{
    position: absolute;
    top:90px;
    left:auto;
}
    
}
.about-cont{
    font-weight: 900;
    margin-left:30px;
    margin-top:400px;
}
/* Skils */
#skills{

    width: 100%;
    height:auto;
}

#f-div img{  
  width:100%;
  height: 400px;
  box-shadow: 3px 3px 15px rgba(127, 230, 224, 0.582),
              -3px -3px 15px rgba(127, 230, 224, 0.582);
}
#f-div:hover{
    box-shadow: 3px 3px 15px rgba(9, 85, 81, 0.582),
              -3px -3px 15px rgba(6, 66, 63, 0.582);
}
@media only screen and (max-width: 768px){
    .skills{
        margin-top:auto;
        margin-left:auto;
        width:auto;
        height:300px;
    }
    #f-div {
        width: auto;
    }   
    #f-div img{
        width:100% ;
        height: 300px;
    }  
}
#skills label{
    font-size: 20px;
}
.progress{
    height: 30px !important;
    box-shadow: 2px 4px 5px black,
                -2px -4px 5px gray;
}
.progress:hover{
    box-shadow: 2px 4px 5px gray,
                -2px -4px 5px black;
}
/* work */
#work{
    background-color: aliceblue;
}
#work .col-12{
    width:360px;
    height:300px;
    box-shadow: 0 4px 25px rgba(14,36,49,0.15);
   border-radius: 10%;
   overflow: hidden;
   margin-bottom: 20px;
}
@media only screen and (max-width: 768px){
    #work .col-12{
        width: auto;
    }
}
#work .col-12 img{
    margin: 20px;
    transition: 1s;
    cursor: pointer;
}
#work .col-12 img:hover{
    transform: scale(1.1);
} 
/* contact */
#contact{
    background-color:rgb(233, 179, 99);
}
@media only screen and (max-width: 768px){
    #contact iframe{
        width: auto;
    }
}
